PORT=4000
ALCHEMY_URL=https://eth-mainnet.g.alchemy.com/v2/
ALCHEMY_API_KEY=your_alchemy_api_key_here
MONGODB_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/crypto?retryWrites=true&w=majority
REDIS_URL=redis://localhost:6379
